.footer {
    .wrap {
        max-width: 1300px;
        padding: auto;
        margin: 0 auto;

        .logoSpan {
            width: 7rem;

            img {
                display: block;
                width: 100%;
                margin: 0;
                opacity: .7;
            }
        }
    }
}